---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?album=Pretty%20Hate%20Machine&api_key=<LASTFM
      API KEY>&format=json&method=album.search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Web-Node:
      - www222
      Content-Type:
      - application/json; charset=utf-8;
      X-Cms:
      - '1'
      X-Varnish-Host:
      - varnish8
    body:
      encoding: UTF-8
      string: |
        {"results":{"opensearch:Query":{"#text":"","role":"request","searchTerms":"Pretty Hate Machine","startPage":"1"},"opensearch:totalResults":"8","opensearch:startIndex":"0","opensearch:itemsPerPage":"50","albummatches":{"album":[{"name":"Pretty Hate Machine","artist":"Nine Inch Nails","id":"1428838","url":"http:\/\/www.last.fm\/music\/Nine+Inch+Nails\/Pretty+Hate+Machine","image":[{"#text":"http:\/\/userserve-ak.last.fm\/serve\/34s\/38399571.png","size":"small"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/64s\/38399571.png","size":"medium"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/126\/38399571.png","size":"large"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/300x300\/38399571.png","size":"extralarge"}],"streamable":"1","mbid":"ed721fd4-ca0c-4cb1-a569-050c994d10d9"},{"name":"Pretty Hate Machine: 2010 Remaster","artist":"Nine Inch Nails","id":"251152686","url":"http:\/\/www.last.fm\/music\/Nine+Inch+Nails\/Pretty+Hate+Machine:+2010+Remaster","image":[{"#text":"http:\/\/userserve-ak.last.fm\/serve\/34s\/59323837.png","size":"small"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/64s\/59323837.png","size":"medium"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/126\/59323837.png","size":"large"},{"#text":"http:\/\/user[...]
