---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?album=OK%20Computer&api_key=<LASTFM API
      KEY>&format=json&method=album.search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Web-Node:
      - www198
      Content-Type:
      - application/json; charset=utf-8;
      X-Cms:
      - '1'
      X-Varnish-Host:
      - varnish8
    body:
      encoding: UTF-8
      string: |
        {"results":{"opensearch:Query":{"#text":"","role":"request","searchTerms":"OK Computer","startPage":"1"},"opensearch:totalResults":"19","opensearch:startIndex":"0","opensearch:itemsPerPage":"50","albummatches":{"album":[{"name":"OK Computer","artist":"Radiohead","id":"1714","url":"http:\/\/www.last.fm\/music\/Radiohead\/OK+Computer","image":[{"#text":"http:\/\/userserve-ak.last.fm\/serve\/34s\/66781226.png","size":"small"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/64s\/66781226.png","size":"medium"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/126\/66781226.png","size":"large"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/300x300\/66781226.png","size":"extralarge"}],"streamable":"0","mbid":"3c8cbdc8-555f-3987-8f03-6baf9488d1b0"},{"name":"Stereogum Presents... OK X: A Tribute To OK Computer","artist":"Various Artists","id":"3382338","url":"http:\/\/www.last.fm\/music\/Various+Artists\/Stereogum+Presents...+OK+X:+A+Tribute+To+OK+Computer","image":[{"#text":"http:\/\/userserve-ak.last.fm\/serve\/34s\/9624061.jpg","size":"small"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/64s\/9624061.jpg","size":"medium"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/126\/9624061.jpg","size":"[...]
