---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=<LASTFM API KEY>&artist=Aphex%20Twin&format=json&method=artist.search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Web-Node:
      - www94
      Content-Type:
      - application/json; charset=utf-8;
      X-Cms:
      - '1'
    body:
      encoding: UTF-8
      string: |
        {"results":{"opensearch:Query":{"#text":"","role":"request","searchTerms":"Aphex Twin","startPage":"1"},"opensearch:totalResults":"1211","opensearch:startIndex":"0","opensearch:itemsPerPage":"30","artistmatches":{"artist":[{"name":"Aphex Twin","listeners":"1148397","mbid":"158c6b17-a00a-4624-9ae0-d614d5dd0d52","url":"http:\/\/www.last.fm\/music\/Aphex+Twin","streamable":"1","image":[{"#text":"http:\/\/userserve-ak.last.fm\/serve\/34\/57750673.jpg","size":"small"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/64\/57750673.jpg","size":"medium"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/126\/57750673.jpg","size":"large"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/252\/57750673.jpg","size":"extralarge"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/_\/57750673\/Aphex+Twin+AphexTwin.jpg","size":"mega"}]},{"name":"Fatboy Slim and Aphex Twin","listeners":"4033","mbid":"","url":"http:\/\/www.last.fm\/music\/Fatboy+Slim+and+Aphex+Twin","st[...]
