---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=<LASTFM API KEY>&artist=Nirvana&format=json&method=artist.search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Web-Node:
      - www220
      Content-Type:
      - application/json; charset=utf-8;
      X-Cms:
      - '1'
      X-Varnish-Host:
      - varnish8
    body:
      encoding: UTF-8
      string: |
        {"results":{"opensearch:Query":{"#text":"","role":"request","searchTerms":"Nirvana","startPage":"1"},"opensearch:totalResults":"2899","opensearch:startIndex":"0","opensearch:itemsPerPage":"30","artistmatches":{"artist":[{"name":"Nirvana","listeners":"3722151","mbid":"5b11f4ce-a62d-471e-81fc-a69a8278c7da","url":"http:\/\/www.last.fm\/music\/Nirvana","streamable":"1","image":[{"#text":"http:\/\/userserve-ak.last.fm\/serve\/34\/416571.jpg","size":"small"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/64\/416571.jpg","size":"medium"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/126\/416571.jpg","size":"large"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/252\/416571.jpg","size":"extralarge"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/500\/416571\/Nirvana.jpg","size":"mega"}]},{"name":"Approaching Nirvana","listeners":"18235","mbid":"c3a64a25-251b-4d03-afba-1471440245b8","url":"http:\/\/www.last.fm\/music\/Approaching+Nirvana"[...]
