---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?album=y&api_key=<LASTFM API KEY>&artist=x&format=json&method=album.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Web-Node:
      - www174
      Content-Type:
      - application/json; charset=utf-8;
    body:
      encoding: UTF-8
      string: |
        {"album":{"name":"y","artist":"X","id":"8949914","mbid":"","url":"http:\/\/www.last.fm\/music\/X\/y","releasedate":"    ","image":[{"#text":"","size":"small"},{"#text":"","size":"medium"},{"#text":"","size":"large"},{"#text":"","size":"extralarge"},{"#text":"","size":"mega"}],"listeners":"19","playcount":"100","tracks":"\n            ","toptags":"\n      "}}
  recorded_at: Thu, 17 Oct 2013 01:38:08 GMT
recorded_with: VCR 2.6.0
