---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?album=Copper%20Blue&api_key=<LASTFM API
      KEY>&artist=Sugar&format=json&method=album.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Web-Node:
      - www102
      Content-Type:
      - application/json; charset=utf-8;
    body:
      encoding: UTF-8
      string: |
        {"album":{"name":"Copper Blue","artist":"Sugar","id":"2032496","mbid":"b68bd93e-0b34-41b8-8e63-540836e863f0","url":"http:\/\/www.last.fm\/music\/Sugar\/Copper+Blue","releasedate":"    28 May 2012, 00:00","image":[{"#text":"http:\/\/userserve-ak.last.fm\/serve\/34s\/83507623.jpg","size":"small"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/64s\/83507623.jpg","size":"medium"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/174s\/83507623.jpg","size":"large"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/300x300\/83507623.jpg","size":"extralarge"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/_\/83507623\/Copper+Blue.jpg","size":"mega"}],"listeners":"52874","playcount":"565122","tracks":{"track":[{"name":"The Act We Act","duration":"310","mbid":"01101516-1791-4bc5-aae7-5a071ca6584c","url":"http:\/\/www.last.fm\/music\/Sugar\/_\/The+Act+We+Act","streamable":{"#text":"0","fulltrack":"0"},"artist":{"name":"Sugar","mbid":"2ccd1ad2-c6d4-4c40-9849-717a1a8cc3b1","url":"http:\/\/www.last.fm\/music\/Sugar"},"@attr":{"rank":"1"}},{"name":"A Good Idea","duration":"228","mbid":"3ed8665f-2b77-409b-9a74-0a95d95e6a5d","url":"http:\/\/www.last.fm\/music\/Sugar\/_\/A+Good+Idea","streamable":{"#text":"0","fulltrack":"0"},"artist":{"name":"Sugar","mbid":"2ccd1ad2-c6d4-4c40-9849-717a1a8cc3b1","url":"http:\/\/www.last.fm\/music\/Sugar"},"@attr":{"rank":"2"}},{"name":"Changes","duration":"301","mbid":"8222cdf3-91e8-46f2-a459-ec73d6ddeb09","url":"http:\/\/www.last.fm\/music\/Sugar\/_\/Changes","streamable":{"#text":"0","fulltra[...]
